
*{
    box-sizing: border-box;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #262626;
}

a {
    text-decoration: none;
    color: #262626;
}
body {
    background-color:#fafafafa;
    margin: 0;
}
/*LA BARRA DEL NAVEGADOR DE INICIO*/
.header {
    display: flex;
    align-items: center;
    background-color: white;
    border-top: 1px solid #e0dfdf;
    border-bottom: 1px solid #e0dfdf;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.header-container {
    display: flex;
    margin-right: 145px;
    margin-left: 250px;
    padding-top: 2px;
    padding-bottom: 2px;   
}

#input-container {
    position: relative;
    margin-left: 314px;
    margin-right: 30px;
    direction: rtl;
    width: 98%;
    
}
#searching-input {
   height: 29px;
   color: #afaeae;
   width: 143%;
   text-align: center;
   background-color: #fafafafa;
   border-radius: 3px;
   border: 1px solid #dbdbdb;
   font-size: 14px;
   
}

#input-icon {
    position: absolute;
    bottom: 1px;
    left: 15px;
    width: 1px;
    height: 18px;
    font-size: 10px;
    color: #afaeae;
}

.login-button {
    background-color: #3897f0;
    color: white;
    padding: 6px 7px;
    font-size: 14px;
    border: 1px solid #3897f0;
    border-radius: 4px;
    font-weight: bold;
    margin-right: 14px;
    cursor: pointer;/*para que aparesca la manita del cursor*/
}/*LA BARRA DEL NAVEGADOR DE INICIO*/

/*contenedor principal*/
.container {
    width: 100%;
    max-width: 736px;
    margin: auto;
}

.inner-container {
    display: flex;
    margin-top: 40px;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    height: 100%;/*hecho el clase----------------------*/
    max-height: 90vh;/*hecho el clase-----------------*/
}
/*image-container-section*/
.image-container {
    width: 60%;
    position: relative;
}

.icon-container {
    position: absolute;
    left:8px;
    bottom: 8px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container i {
    color: white;
    font-size: 12px;
}

.comment-container {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*comment-container seccion*/

.comment-header {
    padding: 16px;
    display: flex;
    border-bottom: 1px solid #efefef;
    align-items: center;
    font-size: 14px;

}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #a2d8e9;
    margin-right: 16px;
}

.dot-divider {
    margin: 0 4px;/*el 0 es para que no tenga margen arriba ni abajo los 4px es para que tenga separacion a los lados*/
}

.follow-link {
    color: #3897f0;
    font-weight: bold;
}

.more-options {
    margin-left: auto;
}

.comment-feed-container {
    padding: 16px;
    flex: 1;
    height: 100%; /*hecho el clase--------*/
    max-height: calc(100% - 250px);/*hecho el clase---------------*/
    overflow-y: auto;/*hecho el clase-----------------------*/
}

/*esta es la parte del menu de barras de los 3 puntos de reportar*/

/*esta es la parte del menu de barras de los 3 puntos de reportar*/

.comment {
    display: flex;
    margin: 8px 0;
    align-items: center;
    font-size: 14px;
}

.user-comment {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #a2d8e9;
    margin-right: 16px;
}

.comment-content {
    margin: 0;
}

.comment-container-footer {
    padding: 16px;
    border-top: 1.5px solid #efefef;
}

.icons-container {
    display: flex;
}

.icons-container i {
    margin-right: 4px;
    font-size: 24px;

}

.icons-container i:last-child {
    margin-left: auto;
    margin-right: 0;
}

.like-count {
    font-size: 14px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.post-date {
    font-size: 10px;
    color: #a3a2a2;
}
.input-container {
    display: flex;
    border-top: 1px solid #efefef;
}

.comment-input {
    flex: 1;
    border: none;
    font-size: 14px;
}

.comment-button {
    border: none;
    background: transparent;
    color: #3897f0;
    font-weight: bold;
    font-size: 14px;
}

.header-link-container {
    
    padding: 65px 350px 10px 164px;
}
.header-nav {
    padding: 38px 0;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    
    min-width: 100%;
    
   
}

.header-nav-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.lista {
    list-style: none;
}
.comment-like {
    transform: scale (1);
    transition: all 0.25s ease;
}
.comment-like-active{
    color: #dd6262;
    transform: scale(1.5);
   
}

